section{
display:flex;
flex:100%;
min-height: calc(100vh - 100px);
}

.know-a-spot{
color: #F3A712;
}

.wrapper{
margin-top:100px;
margin-bottom:100px;
}

.know-a-spot2{
color: #E4572E;
}

img {
  opacity: 0.8;
}

.carousel-caption {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.carousel-container{
text-align: center;
    background-color:  rgba(41, 51, 92, 0.8);
    padding-bottom:10px;
    padding-top:10px;

}

.post{

    width:50%; /* you can use % */
    height: 50%;
    min-width:500px;
    min-height:500px;


}

.circle-wrapper {
width: 50px;
height: 50px;
border-radius: 50%;
overflow: hidden;
}

.nav-item{
margin-top:15px;
margin-right:5px;
}

.circle-wrapper img {
width: 100%;
height: 100%;
object-fit: cover;
}
